body{
    background-color: skyblue;
    font-family: sans-serif;
    font-size: 20px;
    
}

.lenk{
    font-size: 30px;
   text-transform: uppercase;
   background-color: orange;
   border-top: 10px solid black;
   border-bottom: 10px solid black;
   padding-top: 10px;
   padding-bottom: 10px;
   text-shadow: 2px 2px 2px black;


    
   
}

.per{
    
    padding:10px;
    margin: 10px;
    border: 2px solid black;
    background: darkgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px  black;
}

.educ{
    padding:10px;
    margin: 10px;
    border: 2px solid black;
    background: pink;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 1000px;
    text-shadow: 1px 1px  black;
    
    
}

.educ1{
    padding:10px;
    margin: 10px;
    border: 2px solid black;
    background: pink;
    margin-bottom: 60px;
    text-align: right;
    margin-left: 1000px;
    text-shadow: 1px 1px  black;
}

.educ2{
    padding:10px;
    margin: 10px;
    border: 2px solid black;
    background: pink;
    margin-bottom: 60px;
    margin-right: 1000px;
    text-shadow: 1px 1px  black;
}

.educ3{
    padding:10px;
    margin: 10px;
    border: 2px solid black;
    background: pink;
    margin-bottom: 60px;
    text-align: right;
    margin-left: 1000px;
    text-shadow: 1px 1px  black;
}

.skill{
    padding:10px;
    margin: 10px;
    border: 2px solid black;
    background: darkcyan;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 1000px;
    text-shadow: 1px 1px  black;
}

.skill1{
    padding:10px;
    margin: 10px;
    border: 2px solid black;
    background: darkcyan;
    margin-bottom: 60px;
    text-align: right;
    margin-left: 1000px;
    text-shadow: 1px 1px  black;
}

.skill2{
    padding:10px;
    margin: 10px;
    border: 2px solid black;
    background: darkcyan;
    margin-bottom: 60px;
    margin-right: 1000px;
    text-shadow: 1px 1px  black;
}

.skill3{
    padding:10px;
    margin: 10px;
    border: 2px solid black;
    background: darkcyan;
    margin-bottom: 60px;
    text-align: right;
    margin-left: 1000px;
    text-shadow: 1px 1px  black;
}

.dum{
    padding:10px;
    margin: 10px;
    border: 2px solid black;
    background: burlywood;
    
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 1000px;
    
}

.dum1{
    padding:10px;
    margin: 10px;
    border: 2px solid black;
    background: burlywood;
    margin-bottom: 60px;
    text-align: center;
    margin-left: 1000px;
    
}


.dum2{
    padding:10px;
    margin: 10px;
    border: 2px solid black;
    background: burlywood;
    margin-bottom: 60px;
    margin-right: 1000px;
    
}

.dum3{
    padding:10px;
    margin: 10px;
    border: 2px solid black;
    background: burlywood;
    margin-bottom: 60px;
    text-align: center;
    margin-left: 1000px;
   
}




